<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Savoyea_Offers::offers" title="Savoyea Offers" sortOrder="51">
                    <resource id="Savoyea_Offers::categories_offers" title="Categories Offers" translate="title" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
